// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #e4e5ea !important;
  background-color: #e4e5ea !important;
}

// Header
.header {
  background: #FF690F;
  background-color: #FF690F;

  .columns {
    padding-bottom: 20px;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-top: 20px;

    .logo-white {
      width: 128px;
    }

    .user-icon {
      width: 32px;
    }
  }
}

.sub-header {
  background: #d65600;
  background-color: #d65600;

  .columns {
    padding-bottom: 5px;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-top: 5px;
    
    a {
      color: white;
      font-size: 14px;
      font-weight: 700;

      .icons {
        width: 20px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
      }
    }

    th {
      text-align: center;
    }

    .menu-divider {
      display: block;
      height: 20px;
      width: 1px;
      background: #ff690f;
      background-color: #ff690f;
    }
  }
}

.deal-of-day {
  background: #13191F;
  background-color: #13191F;

  .columns {
    th {
      padding-top: 30px;
      padding-bottom: 20px;
    }
  }
  
  img {
    padding-bottom: 20px;
  }
  h2 {
    color: white;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
  }

  p {
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
  }

  span {
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    display: block;

    &.save-amount {
      font-size: 14px;
    }

    &.tiny-info {
      font-size: 10px;
      font-weight: 300;
      padding-bottom: 10px;
    }

    &.price {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px;
    }
  }

  .button {
    display: inline-block;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    &:hover {
      color: $primary-color;
    }
  }
}