<container>
  <row class="footer-top">
    <columns small="7" large="5">
      <row>
        <columns small="3" large="2">
          <img src="{{ root }}/assets/img/kayak_files/logo_circle.png" class="circle-logo" alt="">
        </columns>
        <columns small="9" large="9" class="info-section" valign="middle">
          <span class="call-to-action">Download the app</span>
          <span class="info">Cheap flights, hotels & more</span>
        </columns>
      </row>
    </columns>
    <columns small="5" large="7" class="store-logos">
      <row>
        <columns large="6" valign="middle">
          <img src="{{ root }}/assets/img/kayak_files/appstore.png" alt="">
        </columns>
        <columns large="6" valign="middle">
          <img src="{{ root }}/assets/img/kayak_files/playstore.png" alt="">
        </columns>
      </row>
    </columns>
  </row>
</container>
<container>
  <row class="footer-social">
    <columns>
      <img src="{{ root }}/assets/img/kayak_files/logo_orange.png" alt="">
    </columns>
    <columns>
      <row>
        <columns>
          <img src="{{ root }}/assets/img/kayak_files/facebook.png" alt="">
        </columns>
        <columns>
          <img src="{{ root }}/assets/img/kayak_files/twitter.png" alt="">
        </columns>
        <columns>
          <img src="{{ root }}/assets/img/kayak_files/instagram.png" alt="">
        </columns>
      </row>
    </columns>
  </row>
</container>